.usersItem {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid rgb(128, 128, 128, 0.5);
}

.usersAvatar {
  width: 70px;
  height: 70px;
  margin-right: 10px;
  border-radius: 50%;
  background-size: contain;
  background: #f3ecec;
}
.usersName {
  margin-top: 0;
  margin-bottom: 5px;
  color: black;
}

.lastMessage {
  display: block;
  height: 80px;
  padding: 10px;
  overflow: hidden;
}
.text {
  font-size: small;
  margin: 0;
  text-overflow: ellipsis;
  color: #808080;
}
.data {
  margin: 0;
  white-space: nowrap;
  text-align: end;
  font-weight: bold;
  color: #5c5757;
}
