.reset {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(125, 167, 245);
}

.reset__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #d6e8ec;
  padding: 30px;
  border-radius: 10px;
  box-shadow: inset 1px 1px 2px #6e8791, inset -5px -5px 10px #ffff;
}

.reset__textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.reset__btn {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  background-color: black;
  box-shadow: inset 1px 1px 2px #62767e, inset -5px -5px 10px rgb(204, 216, 235);
  transition: all 400ms ease-in-out;
}
.reset__btn:hover {
  transform: scale(1.02);
}

.reset div {
  margin-top: 7px;
}
