.chatUserHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 80px;
  border-bottom: 2px solid gray;
  background: #dde0e0;
}
.userAvatar-wrapper {
  width: 75px;
  height: 75px;
  overflow: hidden;
  margin-right: 20px;
}
.userAvatar {
  border: 1px solid gray;
  border-radius: 50%;
  width: 95%;
  height: 95%;
  margin: 0 auto;
  background-size: contain;
  background: rgb(213, 217, 223);
}

.userName {
  font-size: large;
  font-weight: bold;
  color: rgb(44, 39, 39);
}
@media (max-width: 540px) {
  .chatUserHeader {
    justify-content: center;
  }
}
